body{
  background-color: #000;
}

main{
  display: flex;
  gap: 5%;
  margin-top: 100px;
  margin-left: 100px;
}
.shortlinks{
  text-decoration: none;
  font-weight: 100;
  font-size: 17px;
  display: inline-flex;
  margin-left: 10px;
}
a:active {
  font-weight: bold;
}
img {
  height: 250px;
  width: 250px;
  border-radius: 50%;
  filter:drop-shadow(-5px -5px #F05E07);
  display: block;
  margin-right: -20px;
  
}
.name{
  margin-left: 5px;
  text-align: center;
  justify-content: center;
}
.introduction{
  font-size: 20px;
  text-align: left;
  color: white;
}
.typewriter{
  color: #fff;
  font-family: monospace;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid orange; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation: 
    typing 3.5s steps(30, end),
    blink-caret .5s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: transparent }
}

ul {
list-style: none; 
}

li {
float: left;
margin-right: 15px;
}
.item a {
  text-decoration: none;
  width: 2.8rem;
  height: 2.8rem;
  background-color: hsl(203, 92%, 97%);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1;
  border: 3px solid hsl(203, 92%, 97%);
  overflow: hidden;
}

.item a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: var(--bg-color);
  z-index: 0;
  scale: 1 0;
  transform-origin: bottom;
  transition: scale 0.5s ease;
}

.item:hover a::before {
  scale: 1 1;
}

.icon {
  font-size: 2rem;
  color: hsl(203, 92%, 8%);
  transition: 0.5s ease;
  z-index: 2;
}

.item a:hover .icon {
  color: #fff;
  transform: rotateY(360deg);
}

.item:nth-child(1) {
  --bg-color: linear-gradient(to bottom right, #f9ce34, #ee2a7b, #6228d7);
}
.item:nth-child(2) {
  --bg-color: #0077b5;
}
.item:nth-child(3) {
  --bg-color: #ff0000;
}
.item:nth-child(4) {
  --bg-color: #000;
}
