body{
    display: flex;   
    gap: 10%;
    background-color: black;
}
img {
    height: 250px;
    width: 250px;
    border-radius: 50%;
    filter:drop-shadow(-5px -5px #F05E07);
    display: block;
    margin-left: 12px;
    margin-right: auto;

}
.name{
    align-items:center;
    text-align: center;
    align-self: center;
    justify-content: center;
}
.introduction{
    text-align: left;
    color: white;
}

ul {
  list-style: none; 
}

li {
  float: left;
  margin-right: 15px;
}
.item a {
    text-decoration: none;
    width: 2.8rem;
    height: 2.8rem;
    background-color: hsl(203, 92%, 97%);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
    border: 3px solid hsl(203, 92%, 97%);
    overflow: hidden;
  }
  
  .item a::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: var(--bg-color);
    z-index: 0;
    scale: 1 0;
    transform-origin: bottom;
    transition: scale 0.5s ease;
  }
  
  .item:hover a::before {
    scale: 1 1;
  }
  
  .icon {
    font-size: 2rem;
    color: hsl(203, 92%, 8%);
    transition: 0.5s ease;
    z-index: 2;
  }
  
  .item a:hover .icon {
    color: #fff;
    transform: rotateY(360deg);
  }
  
  .item:nth-child(1) {
    --bg-color: linear-gradient(to bottom right, #f9ce34, #ee2a7b, #6228d7);
  }
  .item:nth-child(2) {
    --bg-color: #0077b5;
  }
  .item:nth-child(3) {
    --bg-color: #ff0000;
  }
  .item:nth-child(4) {
    --bg-color: #000;
  }